body{
  
}

.container{
    display: grid;
    grid-template: auto 1fr / 405px 1fr;
    min-height: 100vh;
}

/* dashboard */
.sidebar{
    background-color: yellowgreen;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 7vh;
}
.sidebar-logo{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.sidebar li{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
}
.sidebar li, .sidebar ul{
    list-style-type: none;
}
.sidebar a{
    text-decoration: none;
    color: white;
}
.dashboard-links ul,
.dashboard-service-links ul{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
}
.header{
    background-color: gray;
}
.main-content{
    background-color: darkgray;
}

/* main-content */
.main-content{
  display: grid;
  grid-template: auto auto 1fr / 3fr 1fr;
}
.projects{
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
}

.projects h2, .announcements h2, .trending h2{
  padding: 1rem;
  font-size: 1.5rem;
}
.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-auto-rows: auto; */
  gap: 1rem;
}
.card-project{
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  border-left: 1rem solid green; 
}
.card-project .card-project-links{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  gap: 1rem;
}
.card-project .card-project-title, 
.card-announcement .card-announcement-title{
  font-size: 1.2rem;
  font-weight: bold;
}
.announcements{
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
}
.announcements-grid{
  display: grid;
  grid-auto-rows: auto;
  gap: 1px;
  border-radius: 2rem;
  justify-content: start;
  overflow: hidden;
}
.card-announcement{
  padding: 1rem;
  background-color: white;
}

/* Trending */
.trending{
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
}
.trending-grid{
  display: grid;
  grid-auto-rows: repeat(3, 1fr);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
}
.card-trending{
  display: grid;
  grid-template: auto auto / auto 1fr;

  padding: 1rem;
  row-gap: 1rem;
  column-gap: 2rem;
}
.card-trending img{
  grid-row: 1 / 3;
  display: flex;
  align-self: center;
}
.card-trending .card-trending-username,
.card-trending .card-trending-headline
{
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}
.card-trending .card-trending-username{
  font-size: 1.1rem;
  font-weight: bold;
}

.header-grid{
  display: grid;
  grid-template-columns: 3fr 1fr auto;
  grid-template-rows: 1fr 2fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.search-bar{
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 1rem;
}
.search-bar img{
  align-self: center;
  justify-self: center;
}
.search-bar input{
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 1rem;
  padding-left: 1rem;
}
.user-notification-bar{
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3,auto);
  align-items: center;
  justify-content: end;
  padding: 1rem;
  margin-right: 1rem;
  gap: 2rem;
}
.profile-greeting{
  grid-column: 1 / 2; 
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.profile-greeting .profile-icon{
  grid-row: 1 / 3;
}
.profile-greeting .profile-icon{
  justify-self: center;
  align-self: center;
}
.profile-greeting .greeting-message{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  align-self: end;
}
.profile-greeting .username-handler{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: start;
}
.profile-links{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.profile-links button{
  height: 50px;
  width: 150px;
  border-radius: 2rem;
}